#### Import libraries

In [1]:
import bruges as br
import numpy as np
import pandas as pd
from welly import Well
import matplotlib.pyplot as plt

#### Import wells

In [2]:
R39 = Well.from_las('../data/R-39.las')

In [3]:
w129 = Well.from_las('../data/P-129_out.las')

#### Make dataframes

- Make dataframe
- Select columns
- Add well name column
- Concatenate datafrmes

In [4]:
w39_df = R39.df()
w39_df['DEPTH'] = w39_df.index
w39_df = w39_df[['DEPTH', 'DT4P', 'DT4S', 'RHOB']]
w39_df.columns = ['DEPTH','DT', 'DTS', 'RHOB']
name = (['R-39']*len(w39_df))
w39_df['well'] = name
w39_df = w39_df.reset_index(drop=True)
w39_df.describe(include = 'all')

              DEPTH           DT          DTS         RHOB  well
count   7843.000000  7843.000000  7843.000000  7843.000000  7843
unique          NaN          NaN          NaN          NaN     1
top             NaN          NaN          NaN          NaN  R-39
freq            NaN          NaN          NaN          NaN  7843
mean    2790.596400   279.843323   455.340913  2493.556531   NaN
std      345.067648    25.963527   439.113290   114.662210   NaN
min     2193.036000   166.347500 -3278.379200  2050.229000   NaN
25%     2491.816200   262.778350   461.351100  2450.387250   NaN
50%     2790.596400   284.251700   515.766000  2505.075000   NaN
75%     3089.376600   299.587350   555.725100  2569.123050   NaN
max     3388.156800   348.946300   590.522000  3144.669700   NaN

In [5]:
w129_df = w129.df()
w129_df['DEPTH'] = w129_df.index
w129_df = w129_df[['DEPTH','DT', 'DTS', 'RHOB']]
name = (['P-129']*len(w129_df))
w129_df['well'] = name
w129_df = w129_df.reset_index(drop=True)
w129_df.describe(include = 'all')

              DEPTH            DT           DTS          RHOB   well
count   12718.00000  10850.000000  10850.000000  12707.000000  12718
unique          NaN           NaN           NaN           NaN      1
top             NaN           NaN           NaN           NaN  P-129
freq            NaN           NaN           NaN           NaN  12718
mean      970.10220     63.078827    107.128658      2.613912    NaN
std       559.53884      6.529424     12.769174      0.254185    NaN
min         1.06680     40.583134     78.108894      1.173953    NaN
25%       485.58450     59.051755     95.865942      2.526586    NaN
50%       970.10220     62.426868    104.755680      2.660130    NaN
75%      1454.61990     67.749138    117.113300      2.716321    NaN
max      1939.13760    112.469643    174.300812      4.628800    NaN

In [6]:
wells = pd.DataFrame()

for i,df in enumerate([w129_df, w39_df]):
    wells=wells.append(df, ignore_index=True)
wells.describe()

              DEPTH            DT           DTS          RHOB
count  20561.000000  18693.000000  18693.000000  20550.000000
mean    1664.530293    154.026451    253.227663    953.293375
std     1010.484213    108.401637    332.445839   1212.182010
min        1.066800     40.583134  -3278.379200      1.173953
25%      784.402800     61.308117    100.933975      2.629481
50%     1567.738800     70.229836    121.275101      2.732116
75%     2604.820800    277.813800    500.887200   2476.911700
max     3388.156800    348.946300    590.522000   3144.669700

#### Convert to velocity

### Import libraries

MEGA_D1 = pd.DataFrame()

for i,df in enumerate([df0618, df1312, df01531, df0822, df0527, df0614, df1436, df021433, df0828]):
    MEGA_D1=MEGA_D1.append(df)

### Import libraries

### Import libraries

### Import libraries

### Import libraries

### Import libraries